

.titulo{
    color:rgb(1, 79, 148);
    text-align: center;
    color: white;
    padding-top: 10%;
}
body{
    --bs-body-bg: rgba(66, 127, 169, 255);
    background-image: var(--bs-gradient), -webkit-linear-gradient(white);
}
